@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
margin: 0;
padding: 0;
//background-color: white;
//background-color: #f6f6f6;
//background-image: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219))
}
